#Project Setup
general:
  productiveBranch: 'master'

#Steps Specific Configuration
steps:
  mavenExecute:
#    dockerImage: 'maven:3.5.0-jdk-8'
    projectSettingsFile : ''

  cloudFoundryDeploy:
    dockerImage: 's4sdk/docker-cf-cli'
    smokeTestStatusCode: '200'
    deployTypeï¼š 'standard'
    cloudFoundry:
      org: 'I504818trial_trial'
      space: 'dev'
      appName: 'address-manager'
      manifest: 'manifest.yml'
      credentialsId: 'fc9a5a5c-bc81-41b9-be4b-4500427fb4f9'
      apiEndpoint: 'https://api.cf.eu10.hana.ondemand.com'


#Stage Specific Configurations
stages:
  staticCodeChecks:
    findbugsExcludesFile: '' #Path to findbugs exclude file
    pmdExcludes: '' # List or ANT style patterns

#  integrationTests:
#    credentials:
#      - alias: ''
#        credentialId: ''

#  s4SdkQualityChecks:
#    jacocoExcludes:
#      - ''
#    nonErpDestinations:
#      - ''

  productionDeployment:
    cfTargets:
      - org: 'I504818trial_trial'
        space: 'dev'
        apiEndpoint: 'https://api.cf.eu10.hana.ondemand.com'
        appName: 'address-manager'
        manifest: 'manifest.yml'
        credentialsId: 'fc9a5a5c-bc81-41b9-be4b-4500427fb4f9'
